<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8">
<title>Solicitar convalidación</title>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/CSS.css">
<link rel="stylesheet" type="text/css" href="../../static/css/CSS.css">





</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand logo text-white" th:href="@{/index}">TrianaSchool</a>

        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-2">
                <li class="nav-item active mr-2">
                    <a class="nav-link text-white " href="#">Curso</a>
                </li>
                <li class="nav-item active mr-2">
                    <a class="nav-link text-white " href="#">Asignaturas</a>
                </li>
                <li class="nav-item active mr-2">
                    <a class="nav-link text-white " href="#">Horario</a>
                </li>
                <li class="nav-item dropdown mr-2">
                    <a class="nav-link text-white dropdown-toggle" href="#"  id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Solicitudes</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Ampliación de matrícula</a>
                        <a class="dropdown-item" href="#">Convalidar asignatura</a>
                    </div>
                </li>
            </ul>




            <form class="form-inline my-2 my-lg-0">

                <input class="buscar form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button type="submit" id="buscar" class="btn">
                    <span class="fas fa-search fa-lg"></span>
                </button>

                <a th:href="@{/registroSesion}" class="btn">
                    <span class="far fa-user fa-lg"></span>
                </a>

                <a th:href="@{/carrito}" class="btn">
                    <span class="fas fa-shopping-bag mr-3 fa-lg"></span>
                </a>

            </form>



        </div>
    </nav>

</header>


<main class="container-fluid">
    <div class="row mt-5">
        <div class="col-3"></div>
        <form method="POST" action="#"
              th:action="@{alumno/ampliacionMatricula/submit}" th:object="${ampliacionMatriculaForm}"
              id="formulario" class="col-6 bg-light mb-5 rounded posicionTabla"
              onsubmit="return revisarFormulario();">

            <fieldset class="mt-2 ml-1">
                <legend class="mb-5 text-center pt-2">Ampliar matrícula</legend>
                <input type="hidden" th:field="*{id}" id="id" name="id">
                <div class="input-group mb-3 w-75 ml-5">
                    <div class="input-group-prepend ml-2">
                        <label for="fechaSolicitud" class="input-group-text">Fecha solicitud*</label>
                    </div>
                    <input type="text" id="fechaSolicitud" name="fechaSolicitud" class="form-control" placeholder="fechaSolicitud"
                           required th:field="*{fechaSolicitud}" >
                </div>
                <div class="input-group mb-3 w-75 ml-5">
                    <div class="input-group-prepend ml-2 mt-3">
                        <label for="apellidos" class="input-group-text">Apellidos*</label>
                    </div>
                    <input type="text" id="apellidos" name="apellidos" class="form-control mt-3" placeholder="Apellidos" required th:field="*{apellidos}">
                </div>

                <div class="input-group w-75 ml-5">
                    <div class="input-group-prepend ml-2 mt-3 ">
                        <label for="email" class="input-group-text">Correo electrónico*</label>
                    </div>
                    <input type="mail" id="email" name="email" class="form-control mt-3" placeholder="email@mail.com" required th:field="*{email}" >
                </div>

                <div class="input-group mb-5 w-75 ml-5 mt-4 pt-2">
                    <div class="input-group-prepend ml-2">
                        <label for="curso" class="input-group-text">Curso</label>
                    </div>

                    <select th:field="*{curso}" id="curso" class="form-control">
                        <option value="-1" >---</option>
                        <option th:each="curso : ${listaCursos}" th:value="${curso.id}" th:text="${curso.nombre}">Curso</option>
                    </select>
                </div>



                <button type="reset" class="btn botonCancelar mb-4 mt-3">Limpiar</button>
                <button type="submit" id="enviar" class="btn mb-4 float-right botonEnvio  mt-3">Enviar</button>
            </fieldset>
        </form>
        <div class="col-3"></div>
    </div>
</main>


</body>

</html>