<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

<title>Solicitar exención</title>

</head>
<body>

<header th:replace="~{fragmentos/headerAlumno::headerAlumno}"></header>

<main class="container-fluid">
    <div class="row mt-5">
        <div class="col-3"></div>
        <form enctype="multipart/form-data" method="POST" action="#"
              th:action="@{/alumno/exencion/submit}" th:object="${exencionForm}"
              id="formulario" class="col-6 bg-light mb-5 rounded posicionTabla"
              onsubmit="return revisarFormulario();">

            <fieldset class="mt-2 ml-1">
                <legend class="mb-5 text-center pt-2">Solicitud de exención</legend>
                <div class="input-group mb-4">
                    <div class="input-group-prepend ml-2">
                        <label for="idAsignatura" class="input-group-text">Asignatura</label>
                    </div>
                    <select id="idAsignatura" th:field="*{idAsignatura}" class="form-control">
                        <option value="-1">---</option>
                        <option th:each="asignatura : ${listaAsignaturas}" th:value="${asignatura.id}"
                                th:text="${asignatura.nombre}">Curso</option>
                    </select>
                </div>

                <div class="input-group mb-5">
                    <div class="input-group-prepend ml-2 mt-3">
                        <label for="file" class="input-group-text">Adjuntar archivo</label>
                    </div>
                    <input type="file" id="file" name="file" class="form-control mt-3"
                           placeholder="Adjuntar archivo">
                </div>

                <button type="reset" class="btn botonCancelar mb-4 mt-3">Limpiar</button>
                <button type="submit" id="enviar" class="btn mb-4 float-right botonEnvio  mt-3">Enviar</button>

            </fieldset>
        </form>
        <div class="col-3"></div>
    </div>
</main>


</body>

</html>