<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

    <title>Cursos</title>

</head>
<body>

<header th:replace="~{fragmentos/headerProfesor::headerProfesor}"></header>

<main class="container-fluid mt-2">

        <div class="tab-pane" role="tabpanel">

                <div class="bg-light p-4 rounded">
                    <table id="tablaTitulos table" class="table table-hover text-center" summary="Cursos">
                      <caption class="mb-3 titulo">Cursos</caption>
                      <thead class="thead-light">
                          <tr>
                              <th class="pl-5" >ID</th>
                              <th class="" >Nombre</th>
                              <th class="pr-5">Título</th>
                              <th class="pr-5" >Operaciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr th:each="curso : ${listaCursos}">
                              <td th:text="${curso.id}"  class="pl-5" >1</td>
                              <td th:text="${curso.nombre}" >1 Desarrollo de aplicaciones multiplataforma</td>
                              <td th:text="${curso.titulo.abreviatura}" class="pr-5">DAM</td>
                              <td class="pr-5">
                                  <a class="btn iconos" th:href="@{/profesor/cursos/horario/{id}(id=${curso.id})}">
                                      <span class="fas fa-calendar-alt fa-lg"></span>
                                  </a>
                                  <a class="btn iconos" th:href="@{/profesor/cursos/mostrarAlumnos/{id}(id=${curso.id})}">
                                      <span class="far fa-user fa-lg"></span>
                                  </a>
                                  <a class="btn iconos" th:href="@{/profesor/cursos/mostrarAsignaturas/{id}(id=${curso.id})}">
                                      <span class="fas fa-sign-in-alt fa-lg"></span>
                                  </a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                    
                </div>
  
          </div>




    
</main>


</body>
</html>