<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

    <title>Alumnos</title>

</head>
<body>

<header th:replace="~{fragmentos/headerJefeEstudios::headerJefeEstudios}"></header>


<main class="container-fluid mt-2">


        <div class="tab-pane" role="tabpanel">

                <div class="bg-light p-4 rounded">
                    <table id="tablaTitulos table" class="table table-hover text-center" summary="Alumnos">
                      <caption class="mb-3 titulo">Alumnos <a><span></span></a>
                            <a class="btn float-right iconos" th:href="@{/jefeEstudios/registroAlumno}">
                               <span class="fas fa-plus fa-2x pr-5 iconos"></span>
                            </a>
                        </caption>
                      <thead class="thead-light">
                          <tr>
                              <th class="pl-5" >ID</th>
                              <th class="" >Nombre</th>
                              <th class="pr-5">Apellidos</th>
                              <th class="">Email</th>
                              <th class="">Curso</th>
                              <th class="">Activado</th>
                              <th class="pr-5" >Operaciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr th:each="alumno : ${listaAlumnos}">
                              <td th:text="${alumno.id}"  class="pl-5" >1</td>
                              <td th:text="${alumno.nombre}">Pepe</td>
                              <td th:text="${alumno.apellidos}" class="pr-5">Rodríguez</td>
                              <td th:text="${alumno.email}" class="">@gmail.com</td>
                              <td th:text="${alumno.curso.abreviatura}" class="">Curso</td>
                              <td th:text="${alumno.activado}" class="pr-5">True</td>
                              <td class="pr-5">
                                    <a class="btn" th:href="@{/jefeEstudios/editAlumno/{id}(id=${alumno.id})}">
                                        <span class="far fa-edit fa-lg iconos"></span>
                                    </a>
                                    <a class="btn" data-toggle="modal" data-target="#delete-modal"
                                       th:attr="data-target='#delete-modal'+${alumno.id}">
                                        <!-- th:data-id="${alumno.id}" CON ESTO NO PILLA AL SELECCIONADO!!!!-->
                                        <span class="fas fa-trash-alt fa-lg iconos"></span>
                                    </a>
<!--
                                    <a class="btn" th:href="@{/jefeEstudios/alumnos/mostrarCurso/{id}(id=${alumno.curso.id})}">
                                        <span class="fas fa-sign-in-alt fa-lg iconos"></span>
                                    </a>-->
                                </td>
                              <div class="modal delete-modal fade" id="delete-modal" tabindex="-1" role="dialog"
                                   th:id="delete-modal+${alumno.id}">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h4 class="modal-title">Eliminar alumno</h4>
                                              <button type="button" class="close" data-dismiss="modal"
                                                      aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                              <p>¿Está usted seguro de eliminar este alumno?</p>
                                              <button type="button" class="btn botonCancelar" data-dismiss="modal">No</button>
                                              <a th:href="@{/jefeEstudios/eliminarAlumno/{id}(id=${alumno.id})}" class="btn botonEnvio ml-4">Sí</a>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </tr>
                      </tbody>
                  </table>
                    
                </div>

        </div>



    
</main>


</body>

</html>