<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

    <title>Asignaturas</title>

</head>
<body>

<header th:replace="~{fragmentos/headerJefeEstudios::headerJefeEstudios}"></header>


<main class="container-fluid mt-2">


        <div class="tab-pane" role="tabpanel">

                <div class="bg-light p-4 rounded">
                    <table id="tablaTitulos table" class="table table-hover text-center" summary="Asignaturas">
                      <caption class="mb-3 titulo">Asignaturas <a><span></span></a>
                            <a class="btn float-right" th:href="@{/jefeEstudios/registroAsignatura}">
                              <span class="fas fa-plus fa-2x pr-5 iconos"></span>
                            </a>
                        </caption>
                      <thead class="thead-light">
                          <tr>
                              <th class="pl-5" >ID</th>
                              <th class="" >Nombre</th>
                              <th class="">Abreviatura</th>
                              <!--<th>Día</th>
                              <th>Hora</th>-->
                              <th class="pr-5">Curso</th>
                              <th class="pr-5" >Operaciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr th:each="asignatura : ${listaAsignaturas}">
                              <td th:text="${asignatura.id}"  class="pl-5" >1</td>
                              <td th:text="${asignatura.nombre}" >Base de datos</td>
                              <td th:text="${asignatura.abreviatura}" class="pr-5">1 DAM</td>
                              <!--<tr th:each="asignatura : ${listaAsignaturas}">
                                  <th-block th:each="diahora : ${asignatura.horarios}">
                                      <td><span th:text="${diahora.dia}"></span></td>
                                      <td><span th:text="${diahora.hora}"></span></td>
                                  </th-block>-->
                              <!--<td th:text="${asignatura.horarios.dia}"></td>
                              <td th:text="${asignatura.horarios.hora}"></td>-->
                              <td th:text="${asignatura.curso.abreviatura}" class="pr-5">1 DAM</td>
                              <td class="pr-5">
                                <a class="btn" th:href="@{/jefeEstudios/editAsignatura/{id}(id=${asignatura.id})}">
                                    <span class="far fa-edit fa-lg iconos"></span>
                                </a>
                                <a class="btn" data-toggle="modal" data-target="#delete-modal"
                                   th:attr="data-target='#delete-modal'+${asignatura.id}">
                                    <!--th:data-id="${asignatura.id}"-->
                                    <span class="fas fa-trash-alt fa-lg iconos"></span>
                                </a>
                                <!--<a class="btn" th:href="@{/jefeEstudios/calendarioAsignatura/?(idAsignatura=${asignatura.id})}">
                                    <span class="fas fa-sign-in-alt fa-lg"></span>
                                </a>-->
                            </td>
                              <div class="modal delete-modal fade" id="delete-modal" tabindex="-1" role="dialog"
                                   th:id="delete-modal+${asignatura.id}">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h4 class="modal-title">Eliminar asignatura</h4>
                                              <button type="button" class="close" data-dismiss="modal"
                                                      aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                              <p>¿Está usted seguro de eliminar esta asignatura?</p>
                                              <button type="button" class="btn botonCancelar" data-dismiss="modal">No</button>
                                              <a th:href="@{/jefeEstudios/eliminarAsignatura/{id}(id=${asignatura.id})}" class="btn botonEnvio ml-4">Sí</a>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                              <!--<td>
                                    <tr th:each="asignatura : ${listaAsignaturas}">
                                        <th-block th:each="diahora : ${asignatura.horarios}">
                                            <td><span th:text="${diahora.first}"></span></td>
                                            <td><span th:text="${diahora.second}"></span></td>
                                        </th-block>
                                    </tr>
                                </td>-->

                              


                              <!--<td th:text="${#lists.toList(asignatura.horarios)}" class="pr-5">L,1</td>-->
                              <!--<div th:each="asignatura.horarios : ${listaHorario}">
                                  <div th:each="par : ${listaPares}">
                                      <span th:text="${horarios.first}"></span> =
                                      <span th:text="${horarios.second}"></span>-->


                              
                              
                          </tr>
                      </tbody>
                  </table>
                    
                </div>
  
          </div>
    



    
</main>


</body>
</html>