<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

    <title>Calendario asignatura</title>

</head>
<body>

<header th:replace="~{fragmentos/headerJefeEstudios::headerJefeEstudios}"></header>


<main class="container-fluid mt-2">


    <div class="tab-pane" role="tabpanel">

        <div class="bg-light p-4 rounded">
            <table id="calendarioAsignatura" class="table table-hover text-center" summary="Caledario asignatura">
                <caption class="mb-3 titulo">Calendario</caption>
                <thead class="thead-light">
                <tr>
                    <th class="" >Hora</th>
                    <th class="lunes" >Lunes</th>
                    <th class="martes" >Martes</th>
                    <th class="miercoles">Miércoles</th>
                    <th class="jueves">Jueves</th>
                    <th class="viernes">Viernes</th>
                </tr>
                </thead>
                <tbody>

                    <tr th:each="asignatura : ${listaAsignaturas}">
                        <th>1</th>
                        <th><th-block th:each="diahora : ${asignatura.horarios}">
                                <span th:if="${diahora.first} == 'Lunes' and ${diahora.second} == '1'"
                                th:text="${asignatura.nombre}"></span>

                            </th:block>
                        </th>
                        <th><th-block th:each="diahora : ${asignatura.horarios}">
                            <span th:if="${diahora.first} == 'Martes' and ${diahora.second} == '1'"
                            th:text="${asignatura.nombre}"></span>

                        </th:block>
                        </th>

                        

                        <!--ESTO ME DA TRES FALSE??
                        <th><th-block th:each="diahora : ${asignatura.horarios}">
                            <span th:text="${diahora.first} == 'Martes' and ${diahora.second} == '1' ?: ${asignatura.nombre}"></span>

                        </th:block>-->

                        <!--INTENTO TH: SWHITCH FUNCIONA, PERO POCO PRODUCTIVO
                            <th-block th:each="diahora : ${asignatura.horarios}">1
                            <td th:switch="${diahora.first}">
                                <span th:case="'Lunes'" th:text="${asignatura.nombre}"></span>
                            </td> </th-block>-->

                           <!-- th:case="'Lunes'" th:text="${diahora.first == 'Lunes'} ? 'Nombre' : No hay"-->

                        

                        <!--<td th:switch="${diahora.first}">
                                <span th:case="'Lunes'" th:text="${diahora.first}"></span>
                            </td>-->
                        
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                    <tr>
                        <th>2</th>
                    </tr>
                    <tr>
                        <th>3</th>
                    </tr>
                    <tr>
                        <th>4</th>
                    </tr>
                    <tr>
                        <th>5</th>
                    </tr>
                    <tr>
                        <th>6</th>
                    </tr>
                <!--<tr class="text-center" th:each="asignatura : ${listaAsignaturas}">
                    
                    <th-block th:each="diahora : ${asignatura.horarios}">
                        <td><span th:text="${diahora.first}"></span></td>
                        <td><span th:text="${diahora.second}"></span></td>
                    </th-block>-->
                </tr>

                </tbody>
            </table>

        </div>

    </div>





</main>


</body>

</html>