<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

    <title>Formulario Horario</title>

</head>
<body>

<header th:replace="~{fragmentos/headerJefeEstudios::headerJefeEstudios}"></header>

<main class="container-fluid contenedor">

    <div class="row mt-5">
        <div class="col-3"></div>
        <form method="POST" action="#" th:action="@{/jefeEstudios/nuevoHorario/submit}" th:object="${horarioForm}" id="formulario"
              class="col-6 bg-light mb-5 rounded posicionTabla">

            <fieldset class="mt-2 ml-1">
                <legend class="mb-3 text-center pt-2">Nuevo horario</legend>
                <input type="hidden" th:field="*{id}" id="id" name="id">

                <div class="input-group mt-3 mb-4 ">
                    <div class="input-group-prepend ml-2">
                        <label for="asignatura" class="input-group-text">Asignatura</label>
                    </div>
                    <select id="asignatura" th:field="*{asignatura}" class="form-control">
                        <option value="-1">---</option>
                        <option th:each="asignatura : ${listaAsignaturas}" th:value="${asignatura.id}" th:text="${asignatura.nombre}">Curso</option>
                    </select>
                </div>

                <div class="form-group">
                    <h5 class="mb-3">Día: </h5>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="lunes" name="dia" class="custom-control-input" th:value="${'1'}"
                               th:field="*{dia}">
                        <label class="custom-control-label" for="lunes">Lunes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="martes" name="dia" class="custom-control-input" th:value="${'2'}"
                               th:field="*{dia}">
                        <label class="custom-control-label" for="martes">Martes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="miercoles" name="dia" class="custom-control-input" th:value="${'3'}"
                               th:field="*{dia}">
                        <label class="custom-control-label" for="miercoles">Miércoles</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="jueves" name="dia" class="custom-control-input" th:value="${'4'}"
                               th:field="*{dia}">
                        <label class="custom-control-label" for="jueves">Jueves</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="viernes" name="dia" class="custom-control-input" th:value="${'5'}"
                               th:field="*{dia}">
                        <label class="custom-control-label" for="viernes">Viernes</label>
                    </div>

                </div>

                <div class="form-group mb-4 mt-4">
                    <h5 class="mb-3">Hora: </h5>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="primera" name="hora" class="custom-control-input" th:value="${'1'}"
                               th:field="*{hora}">
                        <label class="custom-control-label" for="primera">1º</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="segunda" name="hora" class="custom-control-input" th:value="${'2'}"
                               th:field="*{hora}">
                        <label class="custom-control-label" for="segunda">2º</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tercera" name="hora" class="custom-control-input" th:value="${'3'}"
                               th:field="*{hora}">
                        <label class="custom-control-label" for="tercera">3º</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="cuarta" name="hora" class="custom-control-input" th:value="${'4'}"
                               th:field="*{hora}">
                        <label class="custom-control-label" for="cuarta">4º</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="quinta" name="hora" class="custom-control-input" th:value="${'5'}"
                               th:field="*{hora}">
                        <label class="custom-control-label" for="quinta">5º</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sexta" name="hora" class="custom-control-input" th:value="${'6'}"
                               th:field="*{hora}">
                        <label class="custom-control-label" for="sexta">6º</label>
                    </div>

                </div>



                <button type="reset" class="btn botonCancelar mb-4 mt-3">Limpiar</button>
                <button type="submit" id="enviar" class="btn mb-4 float-right botonEnvio  mt-3">Enviar</button>
            </fieldset>

        </form>

        <div class="col-3"></div>
    </div>

</main>

<footer th:replace="~{fragmentos/footer::footer}"></footer>

</body>
</html>