<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

    <title>Formulario Asignatura</title>

</head>
<body>

<header th:replace="~{fragmentos/headerJefeEstudios::headerJefeEstudios}"></header>

<main class="container-fluid">

    <div class="row mt-5">
        <div class="col-3"></div>
        <form method="POST" action="#" th:action="${asignaturaForm.id != 0} ? @{/jefeEstudios/editAsignatura/submit}:
              @{/jefeEstudios/nuevaAsignatura/submit}" th:object="${asignaturaForm}" id="formulario"
              class="col-6 bg-light mb-5 rounded posicionTabla">

            <fieldset class="mt-2 ml-1">
                <legend class="mb-3 text-center pt-2" th:href="${asignaturaForm.id != 0} ? 'Editar Asignatura' :
                                                      'Nueva Asignatura'">Nueva asignatura</legend>
                <input type="hidden" th:field="*{id}" id="id" name="id">

                <div class="input-group mt-3 mb-4 ">
                    <div class="input-group-prepend ml-2">
                        <label for="nombre" class="input-group-text">Nombre</label>
                    </div>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" th:field="*{nombre}">
                </div>
                <div class="input-group mt-3 mb-4">
                    <div class="input-group-prepend ml-2">
                        <label for="abreviatura" class="input-group-text">Abreviatura</label>
                    </div>
                    <input type="text" id="abreviatura" name="nombre" class="form-control" placeholder="abreviatura" th:field="*{abreviatura}">
                </div>
                <div class="input-group mb-5">
                    <div class="input-group-prepend ml-2">
                        <label for="curso" class="input-group-text">Curso</label>
                    </div>
                    <select id="curso" th:field="*{curso}" class="form-control">
                        <option value="-1">---</option>
                        <option th:each="curso : ${listaCursos}" th:value="${curso.id}" th:text="${curso.nombre}">Curso</option>
                    </select>
                </div>
               <!-- <div class="input-group mt-3 mb-4" th:each="horario : ${listaHorarios}">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" th:field="*{horarios.dia}" id="lunes" name="lunes"
                               class="custom-control-input" th:value="1" >
                        <label class="custom-control-label" for="lunes">Lunes</label>
                    </div>
                </div>-->


<!--
                <div class="input-group mb-5">
                    <div class="input-group-prepend ml-2">
                        <label for="horarioDia" class="input-group-text">Dia</label>
                    </div>
                    <select id="horarioDia" th:field="*{horarios.dia}"  class="form-control">
                            <option value="-1">---</option> -->
                        <!--  <option th:each="horario : ${listaHorarios}" th:value="${horario.dia}" th:text="${horario.dia}">
-->
                <!--  <option th:value="0" th:text="Lunes">Lunes</option>
                  <option th:value="1" th:text="Martes">Martes</option>
                  <option th:value="2" th:text="Miércoles">Miércoles</option>
                  <option th:value="3" th:text="Jueves">Jueves</option>
                  <option th:value="4" th:text="Viernes">Viernes</option>
                </option>-->
                <!--<option th:each="horario : ${listaHorarios}" th:value="${horario.id}" th:text="${horario.dia}">Día</option>
            --><!--</select>

                    <div class="input-group-prepend ml-2">
                        <label for="horarioHora" class="input-group-text">Hora</label>
                    </div>
                    <select id="horarioHora" th:field="*{horarios}"  class="form-control">
                        <div th:each="horario : ${listaHorarios}" th:value="${horario.hora}">
                            <option value="-1">---</option>
                            <option th:value="0" th:text="1">1</option>
                            <option th:value="1" th:text="2">2</option>
                            <option th:value="2" th:text="3">3</option>
                            <option th:value="3" th:text="4">4</option>
                            <option th:value="4" th:text="5">5</option>
                        </div>
                    </select>


                </div>-->

                <!--<div class="input-group mb-5">  FALLO HORARIOS (lo raro sería que funcionara)

                https://www.baeldung.com/thymeleaf-select-option Mirar para th:value etc

                    <div class="input-group-prepend ml-2">
                        <label for="horariosDia" class="input-group-text">Horario</label>
                    </div>
                    <select id="horariosDia" th:field="*{horarios.first}" class="form-control">
                        <option value="-1">---</option>
                        <option value="0">Lunes</option>
                        <option value="1">Martes</option>
                        <option value="2">Miércoles</option>
                        <option value="3">Jueves</option>
                        <option value="4">Viernes</option>

                    </select>
                </div>
                <div class="input-group mb-5">
                    <div class="input-group-prepend ml-2">
                        <label for="horariosHora" class="input-group-text">Horario</label>
                    </div>
                    <select id="horariosHora" th:field="*{horarios.second}" class="form-control">
                        <option value="-1">---</option>
                        <option value="0">1</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                        <option value="4">5</option>
                        <option value="5">6</option>

                    </select>
                </div>-->

                <button type="reset" class="btn botonCancelar mb-4 mt-3">Limpiar</button>
                <button type="submit" id="enviar" class="btn mb-4 float-right botonEnvio  mt-3">Enviar</button>
            </fieldset>

        </form>

        <div class="col-3"></div>
    </div>

</main>


</body>
</html>