<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

    <title>Formulario Curso</title>

</head>
<body>

<header th:replace="~{fragmentos/headerJefeEstudios::headerJefeEstudios}"></header>

<main class="container-fluid contenedor">

    <div class="row mt-5">
        <div class="col-3"></div>
        <form method="POST" action="#" th:action="${cursoForm.id != 0} ? @{/jefeEstudios/editCurso/submit}:
              @{/jefeEstudios/nuevoCurso/submit}" th:object="${cursoForm}" id="formulario"
              class="col-6 bg-light mb-5 rounded posicionTabla">
         
             <fieldset class="mt-2 ml-1">
                <legend class="mb-3 text-center pt-2" th:href="${cursoForm.id != 0} ? 'Editar Curso' :
                                                      'Nuevo Curso'">Curso</legend>
                <input type="hidden" th:field="*{id}" id="id" name="id">
                
                <div class="input-group mt-3 mb-4 ">
                    <div class="input-group-prepend ml-2">
                      <label for="nombre" class="input-group-text">Nombre</label>
                    </div>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" th:field="*{nombre}">				    
                </div>
                <div class="input-group mt-3 mb-4">
                    <div class="input-group-prepend ml-2">
                      <label for="abreviatura" class="input-group-text">Abreviatura</label>
                    </div>
                    <input type="text" id="abreviatura" name="nombre" class="form-control" placeholder="abreviatura" th:field="*{abreviatura}">
                </div>
                <div class="input-group mb-5">
                    <div class="input-group-prepend ml-2">
                        <label for="titulo" class="input-group-text">Curso</label>
                    </div>
                    <select id="titulo" th:field="*{titulo}" class="form-control">
                        <option value="-1">---</option>
                        <option th:each="titulo : ${listaTitulos}" th:value="${titulo.id}" th:text="${titulo.nombre}">Título</option>
                    </select>
                </div>
                
                <button type="reset" class="btn botonCancelar mb-4 mt-3">Limpiar</button>
                <button type="submit" id="enviar" class="btn mb-4 float-right botonEnvio  mt-3">Enviar</button>
            </fieldset>
        
        </form>
        
        <div class="col-3"></div>
    </div>
    
</main>

<footer th:replace="~{fragmentos/footer::footer}"></footer>

</body>
</html>