<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

    <title>Formulario Alumno</title>

</head>
<body>

<header th:replace="~{fragmentos/headerJefeEstudios::headerJefeEstudios}"></header>

<main class="container-fluid">
    <div class="row mt-5">
        <div class="col-3"></div>
        <form method="POST" action="#"
              th:action="${alumnoForm.id != 0} ? @{/jefeEstudios/editAlumno/submit} :
              @{/jefeEstudios/nuevoAlumno/submit}" th:object="${alumnoForm}"
              id="formulario" class="col-6 bg-light mb-5 rounded posicionTabla">

            <fieldset class="mt-2 ml-1">
                <legend class="mb-5 text-center pt-2" th:text="${alumnoForm.id != 0} ?
                        'Editar alumno' : 'Registrar alumno'">alumno</legend>
                <input type="hidden" th:field="*{id}" id="id" name="id">
                <div class="input-group mb-3 w-75 ml-5">
                    <div class="input-group-prepend ml-2">
                      <label for="nombre" class="input-group-text">Nombre*</label>
                    </div>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required th:field="*{nombre}" >				    
                </div>
                <div class="input-group mb-3 w-75 ml-5">
                    <div class="input-group-prepend ml-2 mt-3">
                      <label for="apellidos" class="input-group-text">Apellidos*</label>
                    </div>
                    <input type="text" id="apellidos" name="apellidos" class="form-control mt-3" placeholder="Apellidos" required th:field="*{apellidos}">
                </div>
                
                <div class="input-group w-75 ml-5">
                    <div class="input-group-prepend ml-2 mt-3 ">
                      <label for="email" class="input-group-text">Correo electrónico*</label>
                    </div>
                    <input type="mail" id="email" name="email" class="form-control mt-3" placeholder="email@mail.com" required th:field="*{email}" >
                </div>

                <div class="input-group mb-5 w-75 ml-5 mt-4 pt-2">
                    <div class="input-group-prepend ml-2">
                        <label for="curso" class="input-group-text">Curso</label>
                    </div>
                    
                    <select th:field="*{curso}" id="curso" class="form-control">
                        <option value="-1" >---</option>
                        <option th:each="curso : ${listaCursos}" th:value="${curso.id}" th:text="${curso.nombre}">Curso</option>
                    </select>
                </div>
         


                <button type="reset" class="btn botonCancelar mb-4 mt-3">Limpiar</button>
                <button type="submit" id="enviar" class="btn mb-4 float-right botonEnvio  mt-3">Enviar</button>
            </fieldset>
        </form>
        <div class="col-3"></div>
    </div>
</main>


</body>
</html>