<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">
    <title>Inicio Jefe de Estudios</title>
</head>
<body>


<header th:replace="~{fragmentos/headerJefeEstudios::headerJefeEstudios}"></header>


<main class="InicioSesion container-fluid">
    <div class="row mt-5 ">
        <div class="col-sm-12"></div>
            <!--<img src="../static/img/logoColegio.png">-->
        <img src="../img/logoColegio.png">
        
    </div>
    
</main>


</body>

</html>