<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">
    <title>Inicio Jefe de Estudios</title>
</head>
<body>


<header th:replace="~{fragmentos/headerJefeEstudios::headerJefeEstudios}"></header>


<main class="InicioSesion contenedor container-fluid">
    <div class="row mt-5 ">
        <div class="col-sm-12"></div>
            <!--<img src="../static/img/logoColegio.png">-->
        <img src="../img/logoColegio.png">
        
    </div>

    <h1>Aprendiendo juntos</h1>
    <img class="pngColegio pl-4" src="/img/escuela.png" alt="png colegio">
    
</main>

<footer th:replace="~{fragmentos/footer::footer}"></footer>

</body>

</html>