<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

    <title>Profesores</title>

</head>
<body>

<header th:replace="~{fragmentos/headerJefeEstudios::headerJefeEstudios}"></header>


<main class="container-fluid mt-2">


        <div class="tab-pane" role="tabpanel">

                <div class="bg-light p-4 rounded">
                    <table id="tablaTitulos table" class="table table-hover text-center" summary="Titulos">
                      <caption class="mb-3 titulo">Profesores <a><span></span></a>
                            <a class="btn float-right">
                               <span class="fas fa-plus fa-2x pr-5"></span>
                            </a>
                        </caption>
                      <thead class="thead-light">
                          <tr>
                              <th class="pl-5" >ID</th>
                              <th class="" >Nombre</th>
                              <th class="pr-5">Apellidos</th>
                              <th class="">Email</th>
                              <th class="">Activado</th>
                              <th class="">Jefe de estudios</th>
                              <th class="pr-5" >Operaciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr th:each="profesor : ${listaProfesores}">
                              <td th:text="${profesor.id}"  class="pl-5" >1</td>
                              <td th:text="${profesor.nombre}">Pepe</td>
                              <td th:text="${profesor.apellidos}" class="pr-5">Rodríguez</td>
                              <th th:text="${profesor.email}" class="">m@gmail.com</th>
                              <td th:text="${profesor.activado}" class="pr-5">True</td>
                              <td th:text="${profesor.esJefeDeEstudios}" class="pr-5">True</td>
                              <td class="pr-5">
                                    <a class="btn">
                                        <span class="far fa-edit fa-lg"></span>
                                    </a>
                                    <a class="btn"  data-toggle="modal" data-target="#delete-modal"
                                       th:attr="data-target='#delete-modal'+${profesor.id}">
                                        <!--th:data-id="${profesor.id}"-->
                                        <span class="fas fa-trash-alt fa-lg"></span>
                                    </a>
                                    <a class="btn">
                                        <span class="fas fa-sign-in-alt fa-lg"></span>
                                    </a>
                              </td>
                              <div class="modal delete-modal fade" id="delete-modal" tabindex="-1" role="dialog"
                                   th:id="delete-modal+${profesor.id}">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h4 class="modal-title">Eliminar profesor</h4>
                                              <button type="button" class="close" data-dismiss="modal"
                                                      aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                              <p>¿Está usted seguro de eliminar este profesor?</p>
                                              <button type="button" class="btn botonCancelar" data-dismiss="modal">No</button>
                                              <a th:href="@{/jefeEstudios/eliminarProfesor/{id}(id=${profesor.id})}" class="btn botonEnvio ml-4">Sí</a>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </tr>
                      </tbody>
                  </table>
                    
                </div>
  
          </div>
    



    
</main>


</body>
</html>