<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

	<meta charset="utf-8">
    <title>Inicio Sesión</title>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/CSS.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/CSS.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    



</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand logo text-white" th:href="@{/index}">TrianaSchool</a>

        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-2">
                <li class="nav-item active mr-2">
                    <a class="nav-link text-white " href="#">Títulos</a>
                </li>
                <li class="nav-item active mr-2">
                    <a class="nav-link text-white " href="#">Cursos</a>
                </li>
                <li class="nav-item dropdown mr-2">
                    <a class="nav-link text-white dropdown-toggle" href="#"  id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usuarios</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Alumnos</a>
                        <a class="dropdown-item" href="#">Profesores</a>
                        <a class="dropdown-item" href="#">Jefe de estudios</a>
                    </div>
                </li>
                <li class="nav-item dropdown mr-2">
                    <a class="nav-link text-white dropdown-toggle" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Altas</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Alumnos</a>
                        <a class="dropdown-item" href="#">Profesores</a>
                        <a class="dropdown-item" href="#">Jefe de estudios</a>
                    </div>
                </li>
                <li class="nav-item active mr-2">
                    <a class="nav-link text-white " href="#">Solicitudes</a>
                </li>

            </ul>




            <form class="form-inline my-2 my-lg-0">
                
                <input class="buscar form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button type="submit" id="buscar" class="btn">
                    <span class="fas fa-search fa-lg"></span>
                </button>

                <a th:href="@{/registroSesion}" class="btn">
                    <span class="far fa-user fa-lg"></span>
                </a>

                <a th:href="@{/carrito}" class="btn">
                    <span class="fas fa-shopping-bag mr-3 fa-lg"></span>
                </a>

            </form>
            


        </div>
    </nav>

</header>


<main class="container-fluid mt-2">


        <div class="tab-pane" role="tabpanel">

                <div class="bg-light p-4 rounded">
                    <table id="tablaTitulos table" class="table table-hover text-center" summary="Titulos">
                      <caption class="mb-3 titulo">Títulos <a><span></span></a>
                            <a class="btn float-right" >
                               <span class="fas fa-plus fa-2x pr-5"></span>
                            </a>
                        </caption>
                      <thead class="thead-light">
                          <tr>
                              <th class="pl-5" >ID</th>
                              <th class="" >Nombre</th>
                              <th class="pr-5">Abreviatura</th>
                              <th class="pr-5" >Operaciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr th:each="titulo : ${listaTitulos}">
                              <td th:text="${titulo.id}"></td>
                              <td th:text="${titulo.nombre}" >Desarrollo de aplicaciones multiplataforma</td>
                              <td th:text="${titulo.abreviatura}" class="pr-5">DAM</td>
                              <td class="pr-5">
                                    <a class="btn" th:href="@{/jefeEstudios/editTitulo/{id}(id=${titulo.id})}">
                                        <span class="far fa-edit fa-lg"></span>
                                    </a>
                                    <a class="btn"  >
                                        <span class="fas fa-trash-alt fa-lg"></span>
                                    </a>
                                    <a class="btn" >
                                        <span class="fas fa-sign-in-alt fa-lg"></span>
                                    </a>
                                </td>
                          </tr>
                      </tbody>
                  </table>
                    
                </div>
  
          </div>
    



    
</main>


</body>

</html>