<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

    <title>Títulos</title>

</head>
<body>

<header th:replace="~{fragmentos/headerJefeEstudios::headerJefeEstudios}"></header>

<main class="container-fluid contenedor mt-2">

        <div class="tab-pane" role="tabpanel">

                <div class="bg-light p-4 rounded">
                    <table id="tablaTitulos table" class="table table-hover text-center" summary="Titulos">
                      <caption class="mb-3 titulo">Títulos <a><span></span></a>
                            <a class="btn float-right iconos" th:href="@{/jefeEstudios/registroTitulo}">
                               <span class="fas fa-plus fa-2x pr-5"></span>
                            </a>
                        </caption>
                      <thead class="thead-light">
                          <tr>
                              <th class="pl-5" >ID</th>
                              <th class="" >Nombre</th>
                              <th class="pr-5">Abreviatura</th>
                              <th class="pr-5" >Operaciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr th:each="titulo : ${listaTitulos}">
                              <td th:text="${titulo.id}"></td>
                              <td th:text="${titulo.nombre}" >Desarrollo de aplicaciones multiplataforma</td>
                              <td th:text="${titulo.abreviatura}" class="pr-5">DAM</td>
                              <td class="pr-5">
                                    <a class="btn iconos" th:href="@{/jefeEstudios/editTitulo/{id}(id=${titulo.id})}">
                                        <span class="far fa-edit fa-lg"></span>
                                    </a>
                                    <a class="btn iconos" data-toggle="modal" data-target="#delete-modal"
                                       th:attr="data-target='#delete-modal'+${titulo.id}">
                                        <span class="fas fa-trash-alt fa-lg iconos"></span>
                                    </a>
                                    <a class="btn iconos" th:href="@{/jefeEstudios/titulos/mostrarCursos/{id}(id=${titulo.id})}">
                                        <span class="fas fa-sign-in-alt fa-lg"></span>
                                    </a>
                                </td>
                              <div class="modal delete-modal fade" id="delete-modal" tabindex="-1" role="dialog"
                                   th:id="delete-modal+${titulo.id}">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h4 class="modal-title">Eliminar título</h4>
                                              <button type="button" class="close" data-dismiss="modal"
                                                      aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                              <p>¿Está usted seguro de eliminar este título?</p>
                                              <button type="button" class="btn botonCancelar" data-dismiss="modal">No</button>
                                              <a th:href="@{/jefeEstudios/eliminarTitulo/{id}(id=${titulo.id})}" class="btn botonEnvio ml-4">Sí</a>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </tr>
                      </tbody>
                  </table>
                    
                </div>
  
          </div>

    
</main>

<footer th:replace="~{fragmentos/footer::footer}"></footer>

</body>

</html>