<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(~{::title})">

<title>Activación cuenta</title>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand logo text-white" th:href="@{/index}">TrianaSchool</a>
    </nav>

</header>


<main class="InicioSesion contenedor container-fluid">
    <div class="row mt-5 ">
        <div class="col-sm-12"></div>
        <form id="activacionUsuario" class="col-sm-12 text-center  rounded "
              method="POST" action="#" th:action="@{/activacion/submit}" th:object="${formActivacion}">
            <fieldset class="mt-2">
                <legend class="mb-1"><img src="img/logoColegio.png">
                    <!--<img src="img/logoColegio.png" src="../static/img/logoColegio.png">-->
                    <p class="mt-1">Activar mi cuenta</p>
                </legend>
                <div class="input-group w-75 ml-5">
                    <div class="input-group-prepend ml-2 mt-3">
                        <label for="email" class="input-group-text">Email</label>
                    </div>
                    <input type="mail" id="email" name="email" class="form-control mt-3" placeholder="email@mail.com"
                           th:field="*{email}">

                </div>

                <div class="input-group mt-2 mb-2 w-75 ml-5">
                    <div class="input-group-prepend ml-2 mb-3 mt-3">
                        <label for="codigoActivacion" class="input-group-text">Código activacion</label>
                    </div>
                    <input type="text" id="codigoActivacion" name="codigoActivacion" class="form-control mb-3 mt-3"
                           placeholder="código" th:field="*{codigoActivacion}">
                </div>

                <div class="input-group mb-3 w-75 ml-5">
                    <div class="input-group-prepend ml-2 mb-3 mt-3">
                        <label for="pwd1" class="input-group-text">Contraseña*</label>
                    </div>
                    <input type="password" id="pwd1" name="pwd1" class="form-control mb-3 mt-3" required th:field="*{password}">
                </div>
                <div class="input-group mb-3 w-75 ml-5">
                    <div class="input-group-prepend ml-2 mb-1">
                        <label for="pwd2" class="input-group-text">Repetir Contraseña*</label>
                    </div>
                    <input type="password" id="pwd2" name="pwd2" class="form-control mb-1" required>
                </div>
                <div class="mensajeError mb-4" id="errorPwd" ></div>

                <button type="submit" id="enviar" class="btn mb-4 float-center botonEnvio btn-lg  mt-2">Enviar</button>

            </fieldset>
        </form>

    </div>


</main>

<footer th:replace="~{fragmentos/footer::footer}"></footer>

</body>

</html>