<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
	<meta charset="utf-8">
	<title>Inicio Sesión</title>



</head>
<body class="bodyCarousel">

	<header th:replace="~{fragmentos/header::header}"></header>


	<main class="carrusel">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">

	  		<!-- Indicators -->
			<ul class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			    <li data-target="#myCarousel" data-slide-to="3"></li>
			    <li data-target="#myCarousel" data-slide-to="4"></li>
			    <li data-target="#myCarousel" data-slide-to="5"></li>
			    <li data-target="#myCarousel" data-slide-to="6"></li>
		  	</ul>

		  	<!-- The slideshow -->
		  	<div class="carousel-inner">
		    	<div class="carousel-item active">
		      		<img class="first-slide" src="img/estetica7.jpg" alt="Zona entrada">
		    	</div>
		    	<div class="carousel-item">
		     		<img src="img/estetica10.jpg" alt="Sala Depilación">
		    	</div>
		    	<div class="carousel-item">
		      		<img src="img/estetica4.jpg" alt="Sala Masaje Flores">
		    	</div>
		    	<div class="carousel-item">
		      		<img src="img/estetica13.jpg" alt="Recepción">
		    	</div>
		    	<div class="carousel-item">
		      		<img src="img/estetica6.jpg" alt="Aseos">
		    	</div>
		    	<div class="carousel-item">
		      		<img src="img/estetica5.jpg" alt="Zona Tratamientos">
		    	</div>
		    	<div class="carousel-item">
		      		<img src="img/estetica11.jpg" alt="Pared mensaje">
		    	</div>
		  	</div>

	  		<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
	   		 	<span class="carousel-control-prev-icon"></span>
	  		</a>
	  		<a class="carousel-control-next" href="#myCarousel" data-slide="next">
	    		<span class="carousel-control-next-icon"></span>
	  		</a>

		</div>
	
	</main>

	<footer th:replace="~{fragmentos/footer::footer}"></footer>


</body>
</html>