<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
	<meta charset="utf-8">
	<title>Inicio Sesión</title>


</head>
<body>

	<header th:replace="~{fragmentos/header::header}"></header>	

	<main class="InicioSesion container-fluid">
		<div class="row mt-5">
			<div class="col-sm-1"></div>
			<form id="formularioInicioSesion" class="col-sm-5 text-center bg-light rounded-left"
					method="POST" action="#" th:action="@{/login}">		
				<fieldset class="mt-2">
					<legend class="mb-3">Ya soy cliente</legend>
					<div class="input-group mb-3 w-50 mx-auto">
	                	
	                	<input id="username" name="username" type="text" placeholder="E-mail" class="form-control">
	                 
	            	</div>

	            	<div class="input-group mb-3 w-50 mx-auto">
			      		<input type="password" name="password" id="password" class="form-control" placeholder="Contraseña"> 

			      		<div class="input-group-append">
	                		<span class="icono input-group-text">
	                			<i class="far fa-eye-slash"></i>
    						</span>	
    					</div>
    				</div>

    				<div class="form-check mb-2">
    					<input id="remember_me" name="remember-me" type="checkbox" class="form-check-input">
  						<label for="remember_me"  class="form-check-label">Recuérdame</label>
					</div>

    				<button type="submit" id="IniciarSesion" class="btn btn-lg btn-dark">Iniciar Sesión</button>

    				<div class="olvidar mt-2 mb-3"><a class="text-body" href="#">¿Has olvidado tu contraseña?</a></div>



				</fieldset>
			</form>

			<span class="linea d-md-block"></span>

			<form id="formularioRegistrar" class="col-sm-5 text-center bg-light rounded-right">
				<fieldset class="mt-2">
					<legend class="mb-3 text-center">Nuevo cliente</legend>

					<p>Introduce tu e-mail para poder acceder a toda la información de la página web. Infórmate de nuestras promociones y novedades.</p>
					<div class="input-group mb-3 mt-2 w-50 mx-auto">
	                	
	                	<input id="email" name="email" type="text" placeholder="E-mail" class="form-control"> <!--le tengo puesto el email, para que compruebe ahí si ya está registrado, no se muy bien como funcionaría eso-->
	                 
	            	</div>

	            	<a th:href="@{/registroCliente}" id="continuar" class="btn btn-lg btn-dark m-3">Continuar</a>

				</fieldset>
			</form>

			<div class="col-sm-1"></div>

		</div>




		
	</main>

	
	<footer th:replace="~{fragmentos/footerLogin::footerLogin}"></footer>
	
	<script>

		$(".buscar").keydown(function (event) { // esto debería de hacer funcionar el envío del formulario cuando puso enter / no se si funciona
			var keyCode=e.which;
			if (keyCode==13) {
				event.preventDefault();
				return false;
			}		

		});


		// para lo del ojo:

		$(".icono").click(function (event) {

			if ($("i").hasClass("far fa-eye-slash")) {
				$(":password").attr("type","text");
				$("i").removeClass("far fa-eye-slash").addClass("far fa-eye");

			}else{
				$("#pwd").attr("type","password");
				$("i").removeClass("far fa-eye").addClass("far fa-eye-slash");
			}

		});


  	</script>



</body>
</html>