header {
    background-color:#01233F;
    color: white;
    opacity: 0.93;
    
}

.contenedor {
    min-height: calc(100vh - 56px - 112px); /* esto dice que del 100% de mi main le quite lo que mide el
    footer y el nav y esa sea mi medida para que el footer se quede abajo SIEMPRE*/
}

nav img{
    margin-left: 4px;
    margin-top: -9px;
    margin-bottom: -9px;
    width:  40%;
}

.InicioSesion {
    display: flex;
    justify-content: center;
    align-items: center;
}

#IniciarSesion {
    background-color:#01233F;
}

.titulo {
    caption-side: top;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.botonEnvio {
    background-color: #40C4FF; 
    color:white;

}

.botonCancelar {
    background-color:#01233F;
    color:white;

}

.posicionTabla {
    position: inherit;
}

.iconos {
    color:#01233F;
}

.imagenFooter {
    width: 100px;
}

.fondoFooter {
    background-color: rgba(130,247,255,0.15);
    width: 100%;
    /*#82F7FF;*/
}

a:hover{
  color: #01233F;
}

.pngColegio {
    width: 450px;
}