header {
    background-color:#01233F;
    color: white;
    opacity: 0.93;
    
}

nav img{
    margin-left: 4px;
    margin-top: -9px;
    margin-bottom: -9px;
    width:  40%;
}

.InicioSesion {
    display: flex;
    justify-content: center;
    align-items: center;
}

#IniciarSesion {
    background-color:#01233F;
}

.titulo {
    caption-side: top;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.botonEnvio {
    background-color: #40C4FF; 
    color:white;

}

.botonCancelar {
    background-color:#01233F;
    color:white;

}

.posicionTabla {
    position: inherit;
}

