<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Fragmento header alumno</title>
</head>
<body>

<footer class="footer" th:fragment="footer">

    <div class="fondoFooter">
        <div class="row no-gutters">
            <div class="mt-2 ml-2">
                <img src="/img/logoColegio.png" class="imagenFooter" alt="Logo colegio">
            </div>
            <div class="ml-5 mb-2">
                <div class="">
                    <h5 class="">Triana School</h5>
                    <span class="">C/ Condes de Bustillo, 17</span><br>
                    <span class="">Teléfono: 954954954</span><br>
                    <span class="">Email: schooltriana@gmail.com</span>
                </div>
            </div>
        </div>
    </div>

</footer>

</body>
</html>