<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Fragmento header jefe de estudios</title>
</head>
<body>

<header th:fragment="headerJefeEstudios">

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand logo text-white" th:href="@{/jefeEstudios/}">TrianaSchool</a>

        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-2">
                <li class="nav-item active mr-2">
                    <a class="nav-link text-white " th:href="@{/jefeEstudios/titulos}">Títulos</a>
                </li>
                <li class="nav-item active mr-2">
                    <a class="nav-link text-white " th:href="@{/jefeEstudios/cursos}">Cursos</a>
                </li>
                <li class="nav-item dropdown mr-2">
                    <a class="nav-link text-white dropdown-toggle" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usuarios</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/jefeEstudios/alumnos}">Alumnos</a>
                        <a class="dropdown-item" th:href="@{/jefeEstudios/profesor}">Profesores</a>
                    </div>
                </li>
                <li class="nav-item dropdown mr-2">
                    <a class="nav-link text-white dropdown-toggle" href="#"  id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Altas</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/jefeEstudios/registroAlumno}">Alumnos</a>
                        <a class="dropdown-item" th:href="@{/jefeEstudios/registroProfesor}">Profesores</a>
                    </div>
                </li>
                <li class="nav-item active mr-2">
                    <a class="nav-link text-white " th:href="@{/jefeEstudios/registroHorario}">Horario</a>
                </li>
                <li class="nav-item active mr-2">
                    <a class="nav-link text-white " th:href="@{/jefeEstudios/situacionExcepcional}">Solicitudes</a>
                </li>

            </ul>


            <form class="form-inline my-2 my-lg-0">
                <table class="pr-5">
                    <tr th:each="profesor : ${datosProfesor}">
                        <td th:text="${profesor.nombre}"  class="" >María</td>
                        <td th:text="${profesor.apellidos}" >Macías</td>
                    </tr>

                </table>

                <a th:href="@{/logout}" class="btn text-white pl-4">
                    <span class="fas fa-sign-out-alt mr-3 fa-lg"></span>
                </a>

            </form>



        </div>
    </nav>

</header>


</body>
</html>